
.navbar-default {
    background-color: white;
    border-radius:0 ;
}
ul>li{
    margin-left: 5px;
}

.main-color {
    color: #ED705B !important;
}

.search {
    padding-top: 6px;
}

.search-input {
    outline: none;
    padding: 0 40px 0 20px;
    width: 160px;
    height: 38px;
    font-size: 14px;
    border: 1px solid #eee;
    border-radius: 40px;
    background: #eee;
    transition: width .5s;
    -moz-transition: width .5s;
    -webkit-transition: width .5s;
    -o-transition: width .5s;
}

.search-input:focus {
    width: 210px;
}

.search-btn {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 30px;
    height: 30px !important;
    line-height: normal !important;
    padding: 0 !important;
    color: #969696 !important;
    text-align: center;
}

.search-icon {
    position: absolute;
    top: 9px;
    right: 0;
    width: 30px;
    height: 30px !important;
    line-height: normal !important;
    padding: 0 !important;
    /*color: #969696!important;*/
    text-align: center;
}

.sign-up{

}
