.form{
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
    padding: 60px 30px 80px 30px;
}

.title{
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
}

.label-{
    color:#969696 ;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
.divider{
    padding-left: 10px;
    padding-right: 10px;
}
a{
    outline: none;
}
.label-:hover{
    color: #969696;
    border-bottom: 3px solid #ED705B;
}
.label-active{
    color: #ED705B ;
    border-bottom: 3px solid #ED705B;
}
.label-active:hover{
    color: #ED705B;
}



.sign-in{
    border-radius: 0;
    padding:5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn{
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
    border-radius: 0;
    margin-top: 20px;
}
.btn-true{
    background-color: #ED705B;
    color: #ffffff;
}
.btn-true:hover{
    color: #ffffff;
}
.btn-true:focus{
    color: #ffffff;
}



input.ng-invalid.ng-dirty {
    border-color: #ED705B;
}

.alert{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    border-radius: 0;
}

